.container {
    max-width: 1520px !important;
}

/* additional sections */
#sobrenosotros {
    background: url(/assets/img/hospital.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home {
    background: url(/assets/img/sobrenosotros.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#contacto {
    background: url(/assets/img/contactos.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.subtitulo-parallax {
    padding: 15px;
    background: rgba(0, 0, 0, 0.28);
}

.bg-vision {
    background-color: #198bbc !important;
}